@model SimpleBankWebAPI.TransferViewModel

@{
    ViewData["Title"] = "Transfer";
}

<h1>Transfer</h1>

<h4>TransferViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Transfer">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SourceAccount" class="control-label"></label>
                <input asp-for="SourceAccount" class="form-control" />
                <span asp-validation-for="SourceAccount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" placeholder="0.00" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DestinationAccount" class="control-label"></label>
                <input asp-for="DestinationAccount" class="form-control" />
                <span asp-validation-for="DestinationAccount" class="text-danger"></span>
                <input type="hidden" asp-for="RowVersion" />
            </div>
            <hr />
            <ul class="nav">
                <li class="nav-item">
                    <button type="submit" value="Submit" class="btn btn-primary btn-sm">
                        <i class="fas fa-floppy-disk"></i>
                        Submit
                    </button>
                </li>
                <li class="nav-item" style="padding-top: 0px; padding-right: 5px; padding-bottom: 10px; padding-left: 5px;">
                    <a class="btn btn-secondary btn-sm" asp-controller="Accounts" asp-action="Index">
                        <i class="fas fa-circle-left"></i>
                        Back
                    </a>
                </li>
            </ul>
        </form>
    </div>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
