@model TestSimpleBankWeb.AccountsViewModel

@{
    ViewData["Title"] = "Account";
}

<h4>Account Details</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Accounts" asp-action="CreateAccount">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AccountName" class="control-label"></label>
                <input asp-for="AccountName" class="form-control" />
                <span asp-validation-for="AccountName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccountType" class="control-label"></label>
                <select asp-for="AccountType" class="form-control" asp-items="@ViewBag.accountTypes"></select>
                <span asp-validation-for="AccountType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SavingsBalance" class="control-label"></label>
                <input asp-for="SavingsBalance" placeholder="0.00" class="form-control" />
                <span asp-validation-for="SavingsBalance" class="text-danger"></span>
            </div>
            @Html.HiddenFor(m => m.Account_ID)
            <hr />
            <ul class="nav">
                <li class="nav-item">
                    <button type="submit" value="Submit" class="btn btn-primary btn-sm">
                        <i class="fas fa-floppy-disk"></i>
                        Submit
                    </button>
                </li>
                <li class="nav-item" style="padding-top: 0px; padding-right: 5px; padding-bottom: 10px; padding-left: 5px;">
                    <a class="btn btn-secondary btn-sm" asp-controller="Accounts" asp-action="Index">
                        <i class="fas fa-circle-left"></i>
                        Back
                    </a>
                </li>
            </ul>
        </form>
    </div>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
